#tl_navigation .tl_level_1_group .group-iao,
#tl_navigation .menu_level_0 .group-iao
{
    background: url('./icons/blackboard_steps.png') 0 0 no-repeat;
}
.cte_type {
    font-size:0.85rem;
    line-height:1.4rem;
}
.cte_type.paid0 *,
.cte_type.status1 *,
.cte_type.unpublished *{
    color:#CC5555;
}
.cte_type.paid1 *,
.cte_type.status2 *,
.cte_type.published *{
    color:#077F00;
}
.cte_type.status3 *{
    color:#FFB900;
}
.cte_type.status4 {
  color: #FFA100;
}
.cte_type.status5 {
    color: #0038D3;
}
.cte_type.agreement_status1 *{
    color: #077F00;
}
.cte_type.agreement_status2 *{
  color: #CC5555;
}
.header_generate_pdf{
  background:url("icons/iconPDF.gif") no-repeat left center;
  padding-left: 20px;
}
.global_import{
  background:url("icons/import.gif") no-repeat left center;
  padding-left: 18px;
}
.global_export{
  background:url("icons/export.gif") no-repeat left center;
  padding-left: 18px;
}
.check_reminder{
  background:url("icons/refresh.png") no-repeat left center;
  padding-left: 18px;
}
.pagebreak{
    border-bottom: 3px solid #00f;
}
.pdf-devider{
/*     height: 3px;  */
    background-color: #e5e5e5;
    width: 500px;
    text-align:center;
}
.pdf-devider span{
    background-color:#fff;
    color:#000;
    padding: 0 10px;
}
/** Config-Overview */
.pmb_config_wrapper{
    margin: 2%;
}
.pmb_config_wrapper h1{
    margin-bottom:20px;
}
.pmb_config_wrapper h2{
    margin:10px 0;
    padding-top:10px;
    border-top:1px solid #ddd;
}
.pmb_config_wrapper h3{
    margin-bottom: 5px;
}
.pmb_config_wrapper i.icon{
    background-repeat: no-repeat;
    background-position: 0 0;
    width:16px;
    height: 16px;
    display: inline-block;
}
.pmb_module_desc p{
    line-height: 1.2rem;
}